.img-car {
    background-image: url('assets/PictureCarSnokeBlack.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    border-bottom: 2px solid #00000023;
    border-top: 2px solid #00000023;
}

.broken-car-container {
    margin-top: 70vh;
}

.exclamation {
    margin-left: 40px;
    background-color: #008bf8;
    width: 15vw;
    padding: 12px 12px;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid #ffffff28;
    text-align: center;
}

.title-car {
    font-size: 54px;
    text-align: left;
    margin-left: 40px;
   
    margin-top: 20px;
    color: #ffffff;
    text-transform: capitalize;

    & .text-car-effect {
        text-decoration: none;
    }
}

.text-info {
    margin-left: 40px;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.text-info.title-car::before{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    content: '';

}

.text-car-effect {
    color: #008bf8;
}

@media (max-width:768px) {

    .img-car{
        height: 32dvh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url('assets/PictureCar.png');
    }

    .broken-car-container {
        margin-top: 30dvh;
    }

    .title-car{
        font-size: 20px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
        margin-left: 25px;
        margin-top: 45px;
        margin-bottom: 5px;
        z-index: 0;
    }

    .text-info{
        font-size: 13px;
        line-height: normal;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: 25px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
    }

    .exclamation{
        width: 60dvw;
        margin-top: 70px;
        margin-left: -25px;
        scale: 0.6;
    }
}

@media (max-width:800px){
    .title-car{
        font-size: 17px;
    }
}