.carousel-wrapper {
  width: 100vw;
  margin: 0;
  padding: 0;
  scale: 0.97;

}

.swiper-slide-active .slide {
  
  border: 2px solid #70B8FF;

  transition: all 0.3s ease-in-out;
}

.slide {
  height: 300px;
  background: #c2bfbf25;
  color: #3A3A3A;
  display: flex;
  border: 1px solid #807a7a56;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

.slide h2{
    margin: 16px 0;
    font-weight: 600;
    font-size: 18px;
}

.slide p{
    font-weight: 400;
    color: #3A3A3A;
}

.slide i{
    text-align: left;
    font-size: 24px;
    background-color: #70B8FF;
    padding: 12px 16px;
    color: white;
    border-radius: 10px;
    border: 1px solid #ffffff23;
}

/* Bolinhas (paginaçao) */
.swiper-pagination {
  position: absolute !important; 
  
  margin-top: 20px; 
  text-align: center;
}

.swiper-pagination-bullet {
  background: #888;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #008bf8;
}

@media screen and (max-width: 768px){
  .slide{
    width: 235px;
    height: 400px;
    display: flex;
    
    align-items: center;
  }

  .slide h2{
    font-size: 15px;
  }

  .slide i{
    text-align: center;

  }

  .carousel-wrapper{
    height: 45dvh;
    
  }

  .swiper-wrapper{
    height: 47dvh;
    scale: 0.9;
  }

  .slide p{
    font-size: 14px;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    scale: 1.2;
  }
}

@media screen and (max-width: 800px){
  .slide{
    width: 250px;
  }

  .swiper-wrapper{
    height: 55dvh;
  }

  .carousel-wrapper{
    height: 52dvh;
  }
}