footer {
    text-align: center;
    width: 100vw;
    height: auto;
    padding: 12px;
}

.foot-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.infos{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    justify-content: center;
}

.dev{
   text-align: left;
   display: flex;

   flex-direction: column;
}

.code{
    display: flex;
    align-items: center;
    color: #92909081;
    gap: 2px;
}

.copy{
    text-align: left;
}

.sub-title{
    color: #f2f2f2;
    margin-bottom: 2px;
    cursor: text;
}

.info{
    cursor: text;
}

.infos svg{
    margin-right: 5px;
    cursor: pointer;
    color: #92909081;
    transition: color .3s ease-in-out;
}

.infos svg:hover{
    color: #f2f2f2;
}

footer p{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: #92909081;
    font-weight: 500;
}

@media screen and (max-width:768px){
    .foot-container{
        flex-direction: column;
        gap: 20px;
    }
}