@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  transition: all .4s ease;
  overflow-x: hidden;
  background-color: #f3f3f3;
  background-image:
    linear-gradient(rgba(17, 17, 17, 0.02) 1px, transparent 1px),
    linear-gradient(to right, rgba(17, 17, 17, 0.02) 1px, transparent 1px);

  background-size: 40px 40px;
  background-repeat: repeat;
  background-position: top left;

  & .card i{
    color: black;
  }
}

body.dark {
  color: #e5e5e5;
  background-color: #1e1e1e;
  background-image:
    linear-gradient(rgba(247, 247, 247, 0.02) 1px, transparent 1px),
    linear-gradient(to right, rgba(247, 247, 247, 0.02) 1px, transparent 1px);
  background-size: 40px 40px;
  background-repeat: repeat;
  background-position: top left;
  transition: all .4s ease;

  @media (max-width:768px) {
    .navbar.ativo, .navbar {
      background-color: rgba(14, 13, 13, 0.596);
      border-bottom: 2px solid #c9c9c917;
    }

    
  }

  & nav {
    background-color: rgba(14, 13, 13, 0.596);
    border-bottom: 2px solid #c9c9c917;
    display: sticky;

    & .logo {
      filter: invert(0);
    }

  }

  & .landing-container,
  .ClearName-container,
  .Quit-container {
    background-color: #adadad1c;
    

  }

  & .card {
    background: #2c2c2c;
    border: 2px solid #444;
    transition: all .4s ease-in-out;

    & .text-title {
      color: #e5e5e5;
    }

    & i {
      color: #e5e5e5;
      transition: all .4s ease-in-out;
    }

  }

 

  & footer {
    background-color: #0e0d0dd7;
    border-top: 2px solid #c9c9c90e;
  }

  & .line {
    background-color: #e5e5e5;
  }

  & .img-car {
    background-image: url('assets/PictureCarSnokeBlack.png');
    border-bottom: 2px solid #ffffff23;
    border-top: 2px solid #ffffff23;
  }
}

a {
  text-decoration: none;
  color: inherit;
}