nav {
    width: 100vw;
    height: 7vh;
    border-bottom: 2px solid #c9c9c97e;
    display: flex;
    background-color: #ffffff96;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    ;
    z-index: 999;
    left: 0;
    position: fixed;
    
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex: 1;
    background-color: transparent;
}


nav ul li {
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    
}

nav ul li.active {
  color: #008bf8;
  
}

.emoji{
    display: none;
}

nav ul li:hover {
    color: #008bf8;
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #008bf8;
    width: 70%;
    height: 2px;
    border-radius: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.logo {
    width: auto;
    background-color: transparent;
    height: 55px;
    filter: invert(0);
    margin: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    scale: 0.9;
}

.logo:hover {
    scale: 0.85;
    opacity: 0.7;
}

.switch {
    scale: 0.8;
    margin: 0 10px;
}

.lines {
    display: none;
}

@media screen and (max-width:700px) {

    nav {
        display: flex;
        align-items: start;
        justify-content: center;

        z-index: 999 !important;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80vw;
        
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(207, 205, 205, 0.555);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        z-index: 998;
    }

    .switch{
        display: none;
    }

    .emoji{
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
    }

    .navbar ul {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        z-index: 999 !important;
        
    }

    .navbar.ativo {
        
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        transform: translateX(0);
        opacity: 1;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        z-index: 998;
    }

    .logo {
        position: absolute;
        left: 5px;
        top: -13px;
        scale: 0.9;
    }

    .lines {
        display: flex;
        position: fixed;
        right: 30px;
        top: 30px;
        transform: translateY(-50%);
        flex-direction: column;
        gap: 8px;
        z-index: 999;

    }

    .line {
        width: 30px;
        height: 3px;
        border-radius: 20px;
        background-color: black;
        transition: all 0.4s ease-in-out;
    }
}

@media screen and (max-width:800px){
    nav{
        height: 9dvh;
    }

    .logo{
        scale: 0.8;
        margin-left: 8px;
    }
}