body{
    overflow-x: hidden;
}

.Quit-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f3f3;
    background-image:
        linear-gradient(rgba(218, 218, 218, 0.02) 1px, transparent 1px),
        linear-gradient(to right, rgba(17, 17, 17, 0.02) 1px, transparent 1px);

    background-size: 40px 40px;
    background-repeat: repeat;
    overflow-x: hidden ;
    background-position: top left;
    z-index: 1;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    /* distância da borda inferior */
    right: 20px;
    /* distância da borda direita */
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #1ebe5d;
}


.quit-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quit-card {
    background-color: #2c2929;
    width: 45vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #ffffff10;
    padding: 30px;
    margin: 20px;
}

.right {
    color: #008bf8;
}

.explication {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    position: relative;
    border-top: 2px solid #fafafa23;
    z-index: 1;
    background-color: #131010;
    padding: 20px;
    color: #E1E1E1;
    font-family: 'Inter', sans-serif;
    box-shadow: inset 0 0 200px #0f3460;
    border-bottom: 2px solid #fafafa23;
}

.explication h1 {
    font-size: 46px;
    font-family: 'Inter', sans-serif;
}

.h2 {
    color: #f2f2f298;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;

}

.btn-msg {
    margin-bottom: 24px;
    margin-top: 12px;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: 600;
    scale: 1.12;
    cursor: pointer;
    background-color: #2c78f3d7;
    border: none;
    color: #e5e5e5;
    border: 2px solid #0059e734;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.btn-msg i {
    margin-left: 8px;
    font-size: 20px;
}

.video-container h1{
    margin-top: 10px;
}

.btn-msg:hover {
    border: 2px solid #008bf8;
}

.btn-sell {
    padding: 10px 24px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #ffffff17;
    background-color: transparent;
    color: #f2f2f2;
    scale: 1.10;
    transition: all 0.4s ease-in-out;
    text-align: center;

}

.btn-sell:hover {
    background-color: #008bf8;
    box-shadow: 0px 0px 12px 0px #008bf8;
}

.carousel {
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn-lm {
    padding: 12px;
    width: 220px;
    
    margin-top: 40px;
    border-radius: 24px;
    border: none;
    font-weight: 600;
    background-color: #0059e7ce;
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.btn-lm:hover {
    background-color: #008bf8;
    color: #fff;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bg-faq {
    position: relative;
    width: 100vw;
    background: #f4f4f4;
    color: #fff;
    height: fit-content;
    padding: 0 1rem;
    clip-path: ellipse(100% 93% at 50% 100%);
}

.card-quit {
    width: 17vw;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    border: 1px solid #ffffff17;

    & p {
        line-height: 2;
        color: #f2f2f298;
    }

    & i {
        font-size: 42px;

    }
}



@media (max-width:768px) {

    .whatsapp-float {
        position: fixed;
        top: calc(89% - 5px);
        right: 25px;
    }

    .Quit-container {
        min-height: 20dvh;
        justify-content: flex-start;
    }

    .quit-card {
        display: flex;
        flex-direction: column;
        width: 80dvw;
        margin: 15px;
    }

    .quit-card h2 {
        font-size: 14px;
        margin: 5px 0;
    }

    .quit-card p {
        font-size: 12px;
    }

    .quit-card i {
        scale: 0.9;
    }

    .explication h1 {
        font-size: 32px;
    }

    .h2 {
        font-size: 14px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards div {
        width: 90%;
    }

    .btn-msg {
        margin: 16px;
        width: 300px;
        font-size: 15px;
    }

    .video-container h1{
        margin-top: 10px;
        font-size: 19px;
    }



    .button-div {
        margin-top: -90px;
    }

    .bg-faq{
        clip-path: none;
        height: auto;
    }
}

@media (max-width:800px){
    .video-container h1{
        font-size: 17px;
    }
}