.shorts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shorts-grid {
  display: flex;
  flex-direction: row;
}

.video-card {
  position: relative;
  width: 340px;
  height: 700px;
  border-radius: 12px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(100px) brightness(.6);
  transform: scale(1.0);
  z-index: -1;
  pointer-events: none;
}

.video-front {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-front iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .shorts-container {
    flex-direction: column;
    overflow-x: hidden;
  }

  /* Carrossel horizontal no mobile */
  .shorts-swiper {
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
  }

  .video-card {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    border-radius: 0;
  }

  .video-front {
    scale: 0.9;
  }

  .video-bg {
    scale: 1.1;
  }

  .swiper.swiper-initialized.swiper-horizontalswiper-ios.swiper-backface-hidden.shorts-swiper {
    overflow-x: hidden;
    opacity: 0;
  }
}


@media (max-width: 800px) {
  .video-front {
    scale: 0.88;
    width: 460px;
  }

  .video-bg {
    scale: 1.15;
  }

  .swiper-button-next::after,.swiper-button-prev{
    scale: 0.65;

  }
}