:root {
    --bg-dark: #121212;
    --card-dark: #1f1f1f;
    --text-light: #f5f5f5;
    --text-muted: #b0b0b0;
    --primary: #2563eb;
    --primary-hover: #1e4fc1;
    --border-dark: #2b2b2b;
}

.testimonials-section {
    margin-bottom: 30px;
    z-index: 999;
}

.testimonials-header {
    text-align: center;
    margin-bottom: 1rem;
}


.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
}

.testimonial-card {
    background-color: #c9c6c696;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    border: 1px solid #807a7ac9;
    display: flex;
    flex-direction: column;
}

.testimonial-top {
    display: flex;
    gap: 1rem;
}

.avatar {
    width: 48px;
    height: 48px;
    background-color: #333;
    color: var(--text-light);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.testimonial-info {
    flex: 1;
}

.testimonial-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-name {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.stars {
    display: flex;
    gap: 2px;
    color: #ffae00;
}

.testimonial-text {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
}

.cta-container {
    text-align: center;
    margin-top: 2rem;
}


/* Responsivo */
@media (max-width: 600px) {

    .testimonials-section {
        scale: 0.85;
        margin-top: -70px;
        display: flex;
        overflow: hidden;

    }

    .testimonials-header {
        margin-bottom: 0;
    }

    .testimonial-text {
        font-size: 0.9rem;
    }

    .cta-button {
        width: 100%;
    }

    
}
